@media (min-width: 1025px) and (max-width: 1280px) {
    .container { 
        width: 80%; 
    } 
}

@media (max-width: 1024px) {
    .container { 
        width: 90%; 
    }
}

@media(max-width: 735px) {
    h1, h2 {
        text-align: center;
    }
    header>img,
    header>.main-links {
        display: block;
        margin: 0 auto;
        float: none;
        text-align: justify;
    }

    header>.main-links {
        width: 80%;
        margin-top: 20px;
    }
}

