body {
    background: rgb(153, 153, 255);
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul li {
    line-height: 1.5;
}

h1, h2 {
    color: #000066;
}

.container {
    width: 60%;
    max-width: 1024px;
    margin: 30px auto;
    padding: 30px 20px;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    position: relative;
}

.container .decor-img {
    position: absolute;
    top: -25px;
    right: 15px;
    z-index: 5;
}

header {
    overflow: hidden;
}

header h1 {
    margin-top: 0;
}

header>.main-photo {
    float: left;
    width: 28%;
    max-width: 200px;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

header .main-links {
    box-sizing: border-box;
    float: left;
    width: 70%;
    padding-left: 20px;
}

header .main-links p>b {
    display: inline-block;
    width: 20%;
}

main h2 {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
}